:root {
    --off-white: #F8FFE5; 
    --green: #06D6A0; 
    --blue: #1B9AAA;
    --pink: #EF476F; 
    --yellow: #FFC43D;
    
}
* {
    box-sizing: border-box;
}
body, html {
    font-family:"Rubik";
    background-color:var(--off-white);
}


.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 5px;

}

.categories a{
    text-decoration: none;
    text-align: center;
}

.category_picture{
    width:260px;
    height: 150px;
}

.categories_section{
    flex-direction: column;
    display: flex;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}