:root {
    --off-white: #F8FFE5; 
    --green: #06D6A0; 
    --blue: #1B9AAA;
    --pink: #EF476F; 
    --yellow: #FFC43D;
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    font-family:"Rubik";
    background-color:var(--off-white);
}
.banner {
    background-color: rgba(255, 255, 255, 0.7);
    width: 280px;
    height: 50px;
    position: relative;
    bottom: 50px;
    z-index: 1;
}


.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    
    

}
h1 {
    text-align: center;
    margin: 10px 0 10px;
}

.categories a{
    text-decoration: none;
   
}
.gk-banner {
    color: var(--pink);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.category_picture{
    width: 280px;
    height: 180px;
    
}

.categories_section{
    flex-direction: column;
    display: flex;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}